<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Lof\Cleanup\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Lof\Cleanup\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">cleanupLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Lof\Cleanup\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Lof\Cleanup\Model\Handler\Resolver">
        <arguments>
            <argument name="handlerPool" xsi:type="array">
                <item name="logFiles" xsi:type="string">Lof\Cleanup\Model\Handler\FilesLogs</item>
                <item name="reportFiles" xsi:type="string">Lof\Cleanup\Model\Handler\FilesReports</item>
                <item name="optionalFolder" xsi:type="string">Lof\Cleanup\Model\Handler\FilesFolders</item>
                <item name="media" xsi:type="string">Lof\Cleanup\Model\Handler\Media</item>
                <item name="customerQuotes" xsi:type="string">Lof\Cleanup\Model\Handler\QuotesCustomer</item>
                <item name="guestQuotes" xsi:type="string">Lof\Cleanup\Model\Handler\QuotesGuest</item>
                <item name="adminNotification" xsi:type="string">Lof\Cleanup\Model\Handler\AdminNotifications</item>
                <item name="logReports" xsi:type="string">Lof\Cleanup\Model\Handler\LogReports</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="lofCleanupRun" xsi:type="object">Lof\Cleanup\Console\Command\CleanupCommand</item>
                <item name="lofCleanupImages" xsi:type="object">Lof\Cleanup\Console\Command\CleanUnusedImage</item>
            </argument>
        </arguments>
    </type>
</config>
